# build directories
build
build.*
# documentation directory
doc
# random stuff directory
randomStuff
#ignore autobuilt files
CMakeLists.txt.user
Doxyfile.auto
# ignore temporary files
.*.swp
*~
**/.*.swp
**/*~
#ignore backup files
*.bak
**/*.bak
